streamlit
PyPDF2
langchain
langchain_community
langchain_groq
langchain-huggingface
faiss-cpu
sentence-transformers
torch
pymupdf
pillow
numpy
paddleocr
paddlepaddle
transformers
tiktoken
openai
chromadb
pydantic
python-dotenv

